<head>
  <meta charset="utf-8">
  <title><%= @title %></title>
  <meta name="description" content="<%= @title %>">
  <meta name="author" content="Vlad">
  <meta http-equiv="refresh" content="60">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen"/>
  <script type="text/javascript" src="js/scripts.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

